.custom-checkbox {
    width: 25px;
    height: 25px;
  }
  .custom-checkbox input {
    display: none;
  }
  .custom-checkbox {
    .white {
      width: 25px;
      height: 25px;
      display: inline-block;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
        
    }
  }
  
  .custom-checkbox input:checked +.white {
    background-size: 60%;
    width: 25px;
    height: 25px;
    border: rgb(0, 255, 242) 5px solid;
    background-color: rgb(255, 255, 255); 
  }
  
  .custom-checkbox2 {
    width: 25px;
    height: 25px;
  }
  
  .custom-checkbox2 input {
    display: none;
  }
  
  .custom-checkbox2 {
    .yellow {
      width: 25px;
      height: 25px;
      display: inline-block;
      background-color: yellow;
      cursor: pointer;
              
    }
  }
      
  .custom-checkbox2 input:checked +.yellow {
    border: rgb(0, 255, 242) 5px solid;
    background-size: 60%;
    background-color: yellow;
  }
  
  .custom-checkbox2 {
    width: 25px;
    height: 25px;
  }
  
  .custom-checkbox2 input {
    display: none;
  }
  
  .custom-checkbox2 {
    .yellow{
      width: 25px;
      height: 25px;    
      display: inline-block;
      background-color: yellow;
      cursor: pointer;
          
    }
  } 
  .custom-checkbox2 input:checked +.yellow {
    border: rgb(0, 255, 242) 5px solid;
    background-size: 60%;
    background-color: yellow;
  }
  
  .custom-checkbox3 {
    width: 25px;
    height: 25px;
  }
  
  .custom-checkbox3 input {
    display: none;
  }
  
  .custom-checkbox3 {
    .red{
      width: 25px;
      height: 25px;  
      display: inline-block;
      background-color: red;
      cursor: pointer;   
    }
  }
  
  .custom-checkbox3 input:checked +.red {
    border: rgb(0, 255, 242) 5px solid;
    background-size: 60%;
    background-color: red;
  }
  
  
  .custom-checkbox4 {
    width: 25px;
    height: 25px;
  }
  
  .custom-checkbox4 input {
    display: none;
  }
  
  .custom-checkbox4 {
    .blue{
      width: 25px;
      height: 25px; 
      display: inline-block;
      background-color: blue;
      cursor: pointer; 
    }
  }
  
  .custom-checkbox4 input:checked +.blue {
    border: rgb(0, 255, 242) 5px solid;
    background-size: 60%;
    background-color: blue;
  }
  
  
  .custom-checkbox5 {
    width: 25px;
    height: 25px;
  }
  
  .custom-checkbox5 input {
    display: none;
  }
  
  .custom-checkbox5 {
    .green{
      width: 25px;
      height: 25px;
      display: inline-block;
      background-color: green;
      cursor: pointer;  
    }
  }
  
  .custom-checkbox5 input:checked +.green {
    border: rgb(0, 255, 242) 5px solid;
    background-size: 60%;
    background-color: green;
  }
  
  
  









  .shape-checkbox {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox input {
    display: none;
  }
  .shape-checkbox {
    .bell{
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/bell.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox input:checked +.bell {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }






  
  .shape-checkbox2 {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox2 input {
    display: none;
  }
  .shape-checkbox2 {
    .ball{
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/ball.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox2 input:checked +.ball {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }






  .shape-checkbox3 {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox3 input {
    display: none;
  }
  .shape-checkbox3 {
    .pine{
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/pine.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox3 input:checked +.pine {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }










  
  .shape-checkbox4 {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox4 input {
    display: none;
  }
  .shape-checkbox4 {
    .star {
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/star.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox4 input:checked +.star {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }









  .shape-checkbox5 {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox5 input {
    display: none;
  }
  .shape-checkbox5 {
    .snowFlake{
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/snowFlake.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox5 input:checked +.snowFlake {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }




  
  .shape-checkbox6 {
    width: 25px;
    height: 25px;
  }
  .shape-checkbox6 input {
    display: none;
  }
  .shape-checkbox6 {
    .bird{
      display: inline-block;
      cursor: pointer;
      background-color: rgba(27, 162, 172, 0.5);
      width: 20px;
      height: 28px;
      background-repeat: no-repeat;
      background-image: url(./assets/svg/bird_toy.svg);
      background-size: contain;
        
    }
  }
  
  .shape-checkbox6 input:checked +.bird {
    border: rgb(0, 255, 242) 2px solid;
    background-color: black; 
  }