.dressedTrees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    border: 2px solid lightsteelblue;
    margin-top: 8%;
	display: flex;
    justify-content: center;
}

.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}

.time h1 {
	margin-bottom: 0;
}

.time small {
	color: #ccc;
}

@media screen and (max-width: 900px ) {
    .dressedTrees h2 {
        font-size: 10px;
    }
    .time {
        font-size:8px;
    }
}